{% extends "registration/base.html" %}

{% block content %}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header text-center bg-primary text-white">
                    <h2>Password Reset</h2>
                </div>
                <div class="card-body">
                    <p class="text-center">
                        Please enter your email address to reset your password. You will receive an email with a link to reset your password.
                    </p>
                    <form method="post" class="mt-4">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block">Send Reset Link</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
